@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #06A5BA, #0B7685);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #046470;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #E3CA0E;
    text-align: center;
    text-shadow: 1px 1px 2px #9e8d0a;
}

h2 {
    color: #6E033A;
}

p {

    text-align: justify;
}